<% if content_for?(:filter_form) %>
  <%= render 'manage/resources/filter' do %>
    <%= yield :filter_form %>
  <% end %>
<% end %>

<%= yield :top_content if content_for?(:top_content) %>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="card-title mb-0"><%= @model.model_name.human %> <%= t 'manage.resources.list' %></div>

      <div class=" d-flex flex-row">
        <%= yield :tools if content_for?(:tools) %>
        <a class="btn btn-danger me-3" style="display: none;" id="resources-destroy-all" href="#"> <%= t 'manage.resources.destroy_all_selected' %> </a>
        <%= link_to (t 'manage.resources.create'), url_for({ action: :new }), class: 'btn btn-success' if (can? :create, @model) && @can_create %>
      </div>

    </div>
  </div>
  <div class="card-body">
    <div class="table-rep-plugin">
      <div class="table-responsive mb-0" data-pattern="priority-columns">
        <table id="tech-companies" class="table table-striped mb-0">
          <!--        <table id="tech-companies" class="table table-small-font table-bordered table-striped">-->
          <thead>
          <tr>
            <th width="5%" class="text-center"><%= t 'manage.resources.selection' %></th>
            <%= yield :th %>
            <% if @can_action %>
              <th width="15%" style="text-align: right"><%= t 'manage.resources.actions' %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% if content_for?(:tb) %>
            <%= yield :tb %>
          <% else %>
            <% @resources.each do |resource| %>
              <tr>
                <td class="text-center">
                  <%= check_box_tag :resource_selection, true, false, id: "resource-selection-#{resource.id}", 'data-id': resource.id %>
                </td>
                <%= yield resource %>
                <% if @can_action %>
                  <td style="text-align: right">
                    <% if can? :read, resource %>
                      <%= link_to (t 'manage.resources.show'), ({ action: 'show', id: resource.id }), class: 'btn btn-info btn-sm' %>
                    <% end %>
                    <% if can? :update, resource %>
                      <%= link_to (t 'manage.resources.edit'), ({ action: 'edit', id: resource.id }), class: 'btn btn-warning btn-sm' %>
                    <% end %>
                    <% if can? :destroy, resource %>
                      <%= link_to (t 'manage.resources.delete'), ({ action: 'destroy', id: resource.id }), method: :delete, data: { confirm: (t 'manage.resources.delete_confirmation') }, class: 'btn btn-danger btn-sm' %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
    .dropdown-menu .checkbox-row {
        color: #fff !important;
    }
</style>