<div class="row">
  <div class="<%= (local_assigns.has_key? :content_class) ? content_class : 'col-md-6' %>">

    <% if content_for?(:content) %>
      <%= yield :content %>
    <% else %>
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title"><%= @model.model_name.human %><%= t 'manage.resources.info' %></h5>
            <%= yield :tools if content_for?(:tools) %>
          </div>
        </div>

        <div class="card-body">
          <table class="table table-striped table-responsive-sm">
            <tbody>
            <%= yield @resource %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

    <%= yield :bottom_content if content_for?(:bottom_content) %>
  </div>

  <% if content_for?(:right_content) %>
    <div class="<%= (local_assigns.has_key? :right_content_class) ? right_content_class : 'col-md-6' %>">
      <%= yield :right_content %>
    </div>
  <% end %>

</div>

<% content_for :footer do %>
  <footer class="footer text-center text-sm-start">
    <div class="boxed-footer">
      <button class="btn btn-link go-back"><%= (t 'manage.resources.back') %></button>
      <div class="d-none d-sm-inline-block float-end">
        <% if can? :update, @resource %>
          <%= link_to (t 'manage.resources.edit'), ({ action: 'edit', id: @resource.id }), class: 'btn btn-warning' %>
        <% end %>
        <% if can? :destroy, @resource %>
          <%= link_to (t 'manage.resources.delete'), ({ action: 'destroy', id: @resource.id }), method: :delete, data: { confirm: (t 'manage.resources.delete_confirmation') }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </footer>
<% end %>
