<!--顶部导航栏-->
<header class="topbar">
  <!--  顶部logo-->
  <div class="brand">
    <a href="" class="logo">
      <span>
        <%= image_tag "/#{@config[:scope]}/images/logo.png", class: 'logo-sm' %>
      </span>
      <span>
        <%= image_tag "/#{@config[:scope]}/images/logo-long.png", class: 'logo-lg logo-light' %>
        <%= image_tag "/#{@config[:scope]}/images/logo.png", class: 'logo-lg logo-dark' %>
      </span>
    </a>
  </div>

  <nav class="navbar-custom">
    <ul class="list-unstyled topbar-nav float-end mb-0">
      <%= yield :header_nav if content_for?(:header_nav) %>

      <!--个人中心-->
      <li class="dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="#" role="button"
           aria-haspopup="false" aria-expanded="false">
          <%= image_tag "/#{@config[:scope]}/images/avatar.png", class: 'rounded-circle thumb-sm' %>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <%= link_to url_for({ controller: :sessions, action: :destroy }), method: :delete, class: "dropdown-item" do %>
            <i data-feather="power" class="align-self-center icon-xs icon-dual me-1"></i>
            <%= t 'manage.logout' %>
          <% end %>
        </div>
      </li>
      <!--小屏导航显示按钮-->
      <li class="menu-item">
        <a class="navbar-toggle nav-link" id="mobileToggle">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
      </li>
    </ul>
    <!-- 导航菜单-->
    <div class="navbar-custom-menu">
      <div id="navigation">
        <ul class="navigation-menu">
          <%= manage_render_horizontal(@routes) %>
        </ul>
      </div>
    </div>
  </nav>
</header>