<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @config[:title] %></title>
  <link rel="icon" type="image/png" href="<%= "/#{@config[:scope]}/images/logo.png" %>"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag @config[:scope], media: "all", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag @config[:scope], 'data-turbolinks-track': 'reload' %>

</head>
<body class="dark-topbar controller-<%= controller_name %> action-<%= action_name %>"
      data-layout="horizontal"
      data-controller-name="<%= controller_name %>"
      data-action-name="<%= action_name %>"
      data-resource-id="<%= @resource.id rescue nil %>">

<%= render "layouts/#{@config[:scope]}/global" rescue nil %>

<% if devise_controller? %>
  <%= yield %>
<% else %>
  <%= render 'layouts/manage/header' %>

  <div class="page-wrapper">
    <div class="page-content">
      <div class="container-fluid my-3">
        <div class="row">
          <div class="col-sm-12">
            <div class="page-title-box">
              <div class="row">
                <div class="col">
                  <!--                  <h4 class="page-title" style="text-transform: capitalize"><%#= t 'activerecord.controller.' + controller_name %></h4>-->
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item" style="text-transform: capitalize">
                      后台管理
                    </li>
                    <li class="breadcrumb-item" style="text-transform: capitalize">
                      <%= link_to (t 'activerecord.controller.' + controller_name), url_for(controller: controller_name, action: :index) %>
                    </li>
                    <li class="breadcrumb-item active" style="text-transform: capitalize"><%= t 'activerecord.controller.' + action_name %></li>
                  </ol>
                </div>
                <%= yield :assembly if content_for?(:assembly) %>
              </div>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
  <% if content_for?(:footer) %>
    <%= yield :footer %>
  <% else %>
    <%= render 'layouts/manage/footer' %>
  <% end %>
<% end %>

<div class="model-box">
  <%= render 'layouts/manage/modal', modal_id: 'image-preview-modal', title: (t 'manage.image_preview'), size: 'lg' do %>
    <%= tag.div class: 'modal-body' do %>
      <img src="" width="100%"/>
    <% end %>
    <%= tag.div class: 'modal-footer' do %>
      <%= button_tag (t 'manage.close'), class: "btn btn-secondary", type: "button", "data-bs-dismiss": "modal" %>
    <% end %>
  <% end %>
</div>

<% if flash[:success] %>
  <script>
      Swal.fire({
          showConfirmButton: false,
          timer: 600,
          icon: 'success',
          title: '<%= flash[:success] %>',
      })
  </script>
  <% flash[:success] = nil %>
<% end %>

</body>
</html>
